<!--------------
Name         : LCBS_DistributorView_Navigation_Menu
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:component >
     <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">
                    Toggle navigation
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                </button>
                <a class="navbar-brand" href="index-distributor.html">
                  LCBS: Distributor View
                </a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contractors<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/LCBSContractorPage">My Contractors</a></li>
            <li><a href="/LCBS_New_Contractor">Add New Contractor</a></li>
          </ul>
        </li>
       <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buildings<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/LCBSBuildingOwners">Owners</a></li>
            <li><a href="/LCBS_AllBuildings">Locations</a></li>
          </ul>
        </li> -->
              <li><a href="#">Reports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#contact">About</a></li>
              <li><a href="#contact">Community</a></li>
              <li>
                    <a href="{!$Site.Prefix}/secur/logout.jsp">
                      Log Out
                    </a>
                  </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</apex:component>