<apex:component >
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <div class="headerArea">
                <div class="header-row">
                    <span class="logo"></span>
                    <span class="vertLine"></span>
                    <span class="applicationName">Light Commercial Buildings Solutions</span>
                    
                    <!-- Help Icon hidden on smaller screens -->
                    <div class="hidden-xs header-row-right">
                        
                        <ul class="nav navbar-nav navbar-right clearfix hidden-xs">
                            <li class="headerTextBlue companyPadding">Contractor Company</li>
                            <li>
                                <a href="#" class="headerTextGrey dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Andy Smith<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Change Password</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                            <li class="headerHelp"></li>
                        </ul>
                    </div>

                    <!-- Toggle button for showing menu items in smaller screen -->
                    <button type="button" class="header-button-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-row">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Menu Item contents -->
                <div class="collapse navbar-collapse navbar-row">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active"><a href="#">Home</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buildings <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-href="{{nc.buildingOwnersUrl}}">Building Owners</a></li>
                                <li><a href="/app/buildings">Buildings</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Report 1</a></li>
                                <li><a href="#">Report 2</a></li>
                                <li><a href="#">Report 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Company <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-href="{{nc.companyProfileUrl}}">Profile</a></li>
                                <li><a ng-href="{{nc.subscriptionUrl}}">Subscription</a></li>
                                <li><a ng-href="{{nc.usersUrl}}">Users</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Whereas in smaller screens show the menus directly along with help. -->
                    <ul class="nav navbar-nav navbar-right clearfix visible-xs">
                        <li role="separator" class="nav-divider"></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</apex:component>