<apex:page sidebar="false" showChat="false" showHeader="false">
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_LatestUX, 'bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_LatestUX, 'honeywell.lcbs.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
    
    <c:LCBSContractorHeader ></c:LCBSContractorHeader>

</apex:page>